.header__wrapper {
  padding: 25px 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}
.header__nav {
  display: inline-flex;
  margin-left: 51px;
  margin-right: auto;
}
.header__button__block {
  display: inline-flex;
  gap: 10px;
  margin-left: auto;
}

.phone__menu {
  display: none;
}

.header__nav__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.hn__link__product {
  margin-right: 57px;
}

.hn__link__features {
  margin-right: 57px;
}

.hn__link__pricing {
  margin-right: 42px;
}

.hn__link__case {
  margin-right: 49px;
}

.header__button {
  display: inline-flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  min-width: 120px;
}
.header__button__log {
  padding: 0 35px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.header__button__try {
  color: #FFFFFF;
  padding: 0 21px 0 22px;
  background: #FF6336;
}

.section__main {
  padding: 129px 67px 172px 73px;
}
.section__main__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section__main__content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 552px;
}
.section__main__img {
  max-width: 759px;
}

.section__main__text {
  margin-top: 51px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  max-width: 471px;
  margin-bottom: 50px;
}

.section__main__button {
  display: inline-flex;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 25px;
}
.section__main__button__try {
  padding: 0 41px 0 42px;
  color: #FFFFFF;
  background: #FF6336;
}
.section__main__button__book {
  padding: 0 28px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.section__localization {
  background: #FF9C7D;
  padding: 108px 75px 104px 75px;
}
.section__localization__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
}
.section__localization.title__h3 {
  display: flex;
  align-items: center;
}
.section__localization__labels {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

.section__localization__img {
  max-width: 150px;
}

.section__localization__wrapper h2 {
  text-align: center;
}

.section__info {
  padding: 90px 75px 150px 75px;
}
.section__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 250px;
}
.section__info__wrapper__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 138px;
}

.info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.info__link {
  font-weight: 600;
}

.info__block__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 520px;
}

.info__img {
  max-width: 632px;
}

.info__reverse {
  flex-direction: row-reverse;
}

.section__localize {
  background: #FFF8E4;
  padding: 120px 115px 150px 115px;
}
.section__localize__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
.section__localize__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 110px;
  grid-row-gap: 75px;
}
.section__localize__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  max-height: 294px;
  text-align: center;
}

.localize__h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 23px;
}

.localize__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.localize__img {
  max-width: 160px;
  margin-bottom: 21px;
}

.section__boost {
  padding: 124px 78px 187px 75px;
}
.section__boost__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section__boost__content {
  display: flex;
  flex-direction: row;
  gap: 31px;
}
.section__boost__content__block {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  max-height: 609px;
}

.boost__h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 33px;
}

.boost__text.boost__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 409px;
}

.boost__link {
  margin-top: 25px;
  text-decoration-line: underline;
}

.block__pictures {
  margin-top: 50px;
  margin-bottom: 49px;
  max-width: 145px;
}

.block__computer {
  margin: 67px 0;
  max-width: 179px;
}

.block__something {
  margin-top: 59px;
  margin-bottom: 58px;
  max-width: 179px;
}

.section__revolut {
  background: #C9E8F2;
  padding: 63px 75px 105px 75px;
}
.section__revolut__wrapper {
  display: flex;
  flex-direction: row;
  gap: 59px;
}
.section__revolut__content {
  display: flex;
  flex-direction: column;
}

.revolut__text {
  max-width: 920px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}

.revolut__man__name {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 7px;
}

.revolut__logo {
  max-width: 115px;
}

.section__revolut__img {
  max-width: 310px;
}

.section__software {
  padding: 80px 138px 84px 54px;
  background: #DABC98;
}
.section__software__wrapper {
  display: inline-flex;
  align-items: center;
}

.software__title {
  max-width: 461px;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  margin-right: 124px;
}

.software__cake {
  max-width: 176px;
  margin-right: 67px;
}

.software__line {
  width: 1px;
  height: 168px;
  background: #000;
  margin-right: 71px;
}

.software__users {
  max-width: 128px;
  margin-right: 70px;
}

.software__highest {
  max-width: 150px;
}

.section__integrate {
  padding: 165px 209px 162px 208px;
}
.section__integrate__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__integrate__wrapper {
  text-align: center;
}

.integrate__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  max-width: 539px;
  margin-bottom: 25px;
}

.integrate__img {
  max-width: 1023px;
  margin-bottom: 32px;
}

.integrate__button {
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #FFFFFF;
  background: #FF6336;
}

.section__easy {
  padding: 119px 328px 161px 328px;
  background: #FF9C7D;
}
.section__easy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__easy h4 {
  text-align: center;
  margin-bottom: 29px;
}

.easy__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 54px;
}

.easy__button {
  padding: 0 40px;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
}

.section__footer {
  padding: 62px 35px 25px 35px;
}
.section__footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__content {
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.footer__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 28px;
}

.footer__content__img {
  max-width: 300px;
  margin-bottom: 31px;
}

.footer__content__logo {
  max-width: 80px;
  margin-bottom: 11px;
}

.footer__content__text {
  max-width: 290px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.footer__content__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.footer__menu {
  max-width: 850px;
  display: flex;
  flex-direction: row;
  gap: 34px;
  margin-top: 5px;
}

.footer__menu__block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 187px;
}
.footer__menu__block h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
.footer__menu__block__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}

.footer__line {
  margin-top: 95px;
  width: 1290px;
  height: 1px;
  background: #000;
  margin-bottom: 47px;
}

.footer__footer {
  display: flex;
  flex-direction: row;
}
.footer__footer__logo {
  max-width: 90px;
  margin-right: 14px;
}
.footer__footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-right: 700px;
}
.footer__footer__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@font-face {
  font-family: "Graphik LCG";
  src: url(fonts/regular/GraphikLCG-Regular.woff2) format("woff2"), url(fonts/regular/GraphikLCG-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url(fonts/semibold/GraphikLCG-Semibold.woff2) format("woff2"), url(fonts/semibold/GraphikLCG-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Graphik LCG", "sans-sarif";
  color: #000000;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 20px;
}

.container__wider {
  margin: 0 auto;
  max-width: 1440px;
}

.title__h2 {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
}

.title__h3 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

/*# sourceMappingURL=main-scss.css.map */
