@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

