.section__info{
  padding: 90px 75px 150px 75px;
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 250px;
  }
  &__wrapper__block{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 138px;
  }
}
.info__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.info__link{
  font-weight: 600;
}
.info__block__content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 520px;
}
.info__img{
  max-width: 632px;
}
.info__reverse{
  flex-direction: row-reverse;
}