@use "mixins";

.section__revolut{
  background: #C9E8F2;
  padding: 63px 75px 105px 75px;
  &__wrapper{
    @include mixins.flex-row;
    gap: 59px;
  }
  &__content{
    @include mixins.flex-column;
  }
}
.revolut__text{
  max-width: 920px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}
.revolut__man__name{
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 7px;
}
.revolut__logo{
  max-width: 115px;
}
.section__revolut__img{
  max-width: 310px;
}
