@use "mixins";

.section__localization{
  background: #FF9C7D;
  padding: 108px 75px 104px 75px;
  &__wrapper{
    @include mixins.flex-column;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
  }
      &.title__h3{
        display: flex;
        align-items: center;
      }
  &__labels{
    @include mixins.flex-row;
    gap: 100px;
    align-items: center;
  }
}
.section__localization__img{
  max-width: 150px;
}
.section__localization__wrapper h2{
  text-align: center;
}