.section__localize{
  background: #FFF8E4;
  padding: 120px 115px 150px 115px;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
  }
  &__content{
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //gap: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 110px;
    grid-row-gap: 75px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    max-height: 294px;
    text-align: center;
  }
}
.localize__h4{
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 23px;
}
.localize__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.localize__img{
  max-width: 160px;
  margin-bottom: 21px;
}