@use "mixins";

.section__boost {
  padding: 124px 78px 187px 75px;
  &__wrapper {
    @include mixins.flex-column;
    gap: 25px;
  }
  &__content {
    @include mixins.flex-row;
    gap: 31px;
  }
  &__content__block{
    @include mixins.flex-column;
    max-width: 440px;
    max-height: 609px;
  }
}
.boost__h4{
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 33px;
}
.boost__text.boost__link{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 409px;
}
.boost__link{
  margin-top: 25px;
  text-decoration-line: underline;
}
.block__pictures{
  margin-top: 50px;
  margin-bottom: 49px;
  max-width: 145px;
}
.block__computer{
  margin: 67px 0;
  max-width: 179px;
}
.block__something{
  margin-top: 59px;
  margin-bottom: 58px;
  max-width: 179px;
}